* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.img-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9db57;
  width: 100%;
  height: 250px;
}

.img-thumbnail img {
  width: 80%;
}

.smallImg-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-top: 15px;
}

.smallImg {
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  margin: 10px;
  border-radius: 3px;
}

.smallImg:active {
  transform: scale(0.9);
}

.card-body {
  padding: 5px 25px;
  margin: 15px 0;
}

.price,
.title {
  margin-bottom: 15px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: orangered;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  margin-top: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.btn:active {
  background: rgb(202, 108, 0);
  transform: scale(0.9);
}
